<h2></h2>
<table>
    <thead>
        <tr>
            <th>{{train?.tconstructor}} {{train?.model}}</th>
            <th>{{train?.id}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Date Commissioning</td>
            <td>{{train?.dateCommissioning}}</td>
        </tr>

        <tr>
            <td>Max Speed</td>
            <td>{{train?.maxSpeed}}</td>
        </tr>

        <tr>
            <td>Max passengers</td>
            <td>{{train?.maxPassengers}}</td>
        </tr>
    </tbody>
</table>