<main>
    <h1>Administration</h1>

    <section id="mainMenu">
        <a routerLink="./user"><img src="/assets/icon/" alt="">
            <h2>Users</h2>
            <mat-icon>person</mat-icon>
        </a>

        <a routerLink="./train"><img src="/assets/icon/" alt="">
            <h2>Trains</h2>
            <mat-icon>train</mat-icon>
        </a>

        <a routerLink="./line"><img src="/assets/icon/" alt="">
            <h2>Lines</h2>
            <mat-icon>linear_scale</mat-icon>
        </a>

        <a routerLink="./station"><img src="/assets/icon/" alt="">
            <h2>Stations</h2>
            <mat-icon>gite</mat-icon>
        </a>
    </section>
</main>